<!-- views/pages/urs_index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
    <h2>Your Short URLs</h2>

  <div class="bs-example" data-example-id="striped-table"> 
  <table class="table table-striped"> 
  <thead> 
  <tr> <th>#</th> <th>Short URL</th> <th>Full URL</th> </tr> 
  </thead> 
  <% let i = 1;%>
  <tbody> 
  <% for (let item in urls ) { %>
          <tr> <th scope="row"><%=i%></th> 
          <td><%=item%></td> 
          <td><%=urls[item]%></td> 
          <td> <button type="button" onclick="window.location.href='<%-urls[item]%>'" class="btn btn-primary btn-xs">Test</button></td>
            <td> <button type="button" onclick="window.location.href='http://localhost:8080/urls/<%-item%>'" class="btn btn-primary btn-xs">Edit</button></td>
           <td> <button type="button" onclick="window.location.href='http://localhost:8080/urls/<%-item%>/delete'" class="btn btn-danger btn-xs">Delete</button></td>
       </tr>
    <% i++;%>
    <% };%>
    
    </tbody> 
   </table> 
   </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>