<!-- views/pages/urls_show.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
    <h2>Your Short URL is <%=URL.shortURL%></h2>
    <% var dateString = URL.dateCreated.toDateString();%>
          <h3>Created :<%=dateString%></h3> 
          <h3>Your use :<%=URL.ownerHits%></h3> 
          <h3>Total use :<%=URL.totalHits%></h3> 
    
  <form action="/urls/<%=URL.shortURL%>/change" method="POST" style="margin:0px;">
          <label for="longURL">Change if you want a different URL or press OK:</label>
          <input id="longURL" type="text" name="newLongURL" value=<%=URL.longURL%> style="width: 300px">
          <input type="submit" value="OK">
        </form>
  </main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>